body {
    background-color: indigo;

}
header {
    background-color: blueviolet;
    color: aliceblue;
    text-align: center;
    padding: 12px;

}
nav {
    background-color: darkmagenta;
    text-align: center;
}
nav a {
    color: aliceblue;
    padding: 12px;
    text-decoration: none
}
nav a:hover {
    background-color: darkviolet;
}
@media (max-width:720px) {
    nav a {
        display: block;
    }

}   
